
user: "paulo"
sshKeyHostPath: "../ssh/id_rsa.pub"
sshKeyBoxPath: "/home/vagrant/.ssh/paulo.pub"
networkType: "private_network"

machines:
  bento-debian-server:
    number        : 1
    cpu           : 2
    mem           : 2024
    box           : bento/debian-12
    ip_base       : 192.168.56.
    ip_start      : 21
    hdds:
      - size: 100
  bento-debian-agent:
    number        : 0
    cpu           : 2
    mem           : 512
    box           : bento/debian-12
    ip_base       : 192.168.56.
    ip_start      : 31
    hdds:
      - size: 100
